script(id="metricTemplate",type="text/x-jquery-tmpl") <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" disabled="disabled" value="${name}" class="metric_added span2 disabled"/><span class="add-on rem"><a href="#"><i class="icon-remove"></i></a></span></div>
div(class="container")
  div(class="row")
    div(class="span8")
      | &nbsp;
    div(class="span4")
      div(class="left-column")
        button(class="btn btn-info btn-large",href="#",id="update") Update graph
        form(class="form-inline")
          label(class="control-label",for="input01") Metric name
            div(class="controls")
              input(type="text",class="input-xlarge",id="input01")
          label(class="control-label",for="select01") Period
            div(class="controls")
              select(id="select01")
                option 10s
                option 1 min
                option 1 h
          br
          label(class="control-label",for="date_start") Start date
            div(class="controls")
              input(class="picker date_start"
                ,size="16",type="text",data-date="12-02-2012",value="12-02-2012",data-date-format="dd-mm-yyyy")
          label(class="control-label",for="time_start") Start time      
            div(class="controls")
              input(class="picker time_start",
                size="16",type="text",data-date="12-02-2012",value="12-02-2012",data-date-format="dd-mm-yyyy")
          label(class="control-label",for="date_end") End date
            div(class="controls")
              input(class="picker date_end"
                ,size="16",type="text",data-date="12-02-2012",value="12-02-2012",data-date-format="dd-mm-yyyy")
          label(class="control-label",for="time_end") End time      
            div(class="controls")
              input(class="picker time_end",
                size="16",type="text",data-date="12-02-2012",value="12-02-2012",data-date-format="dd-mm-yyyy")
          .btn-group#add_button_group
              a.btn.btn-primary#add_btn(href='#')
                  | Add to graph
                a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      | Add to new graph
          button(class="btn btn-info",href="#",id="now_btn") Now
          button(class="btn",href="#",id="save_btn") Save dash
.line(style='position: absolute; top: 0px; bottom: 0px; width: 1px; pointer-events: none; left: 464px; display: none;')