div(class="left-column-item")
  .input-prepend
      span.add-on
          i.icon-envelope
      input.metric_added.span2.disabled(type='text',disabled="disabled",value="Metric name #1")
      span.add-on.rem
        a(href="#")
          i.icon-remove
  .input-prepend
      span.add-on
          i.icon-envelope
      input.metric_added.span2.disabled(type='text',disabled="disabled",value="Metric name #2")
      span.add-on.rem
        a(href="#")
          i.icon-remove
  .input-prepend
      span.add-on
        i.icon-envelope
      input.metric_added.span2.disabled(type='text',disabled="disabled",value="Metric name #3")
      span.add-on.rem
        a(href="#")
          i.icon-remove