div.container
  table.table.table-striped
    thead
      tr
        th Metric name
        th Period
        th Points
      tbody
        tr
          td Testing metric
          td
            ul
              li
                a(href="#") 10s
              li
                a(href="#") 1min
              li
                a(href="#") 1h
          td 123123
        tr
          td Testing metric
          td
            ul
              li
                a(href="#") 10s
              li
                a(href="#") 1min
              li
                a(href="#") 1h
          td 123123