div.container
  table.table.table-striped
    thead
      tr
        th Metric name
        th Period
        th Points
        th Timestamp
      tbody
        - items.forEach(function(item){
        tr
          td= item
          td
            ul
              li
                a(href="#") 10
              li
                a(href="#") 60
              li
                a(href="#") 600
          td 1000
          td Now
        - })
