div.container
  table.table.table-striped
    thead
      tr
        th Metric name
        th Period
        th Points
        th Timestamp
      tbody
        - title.forEach(function(item){
        tr
          td= item.name
          td
            ul
              li
                a(href="#")= item.period
          td= item.stats.n
          td= moment(item.timestamp).format()
        - })
